[submodule "deps/go-submodules/kubernetes"]
	path = deps/go-submodules/kubernetes
	url = https://github.com/kubernetes/kubernetes.git
[submodule "deps/go-submodules/oc"]
	path = deps/go-submodules/oc
	url = https://github.com/openshift/oc.git
