apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: get-build-params
spec:
  params:
    - name: SOURCE_ARTIFACT
      type: string
      description: >-
        The Trusted Artifact URI pointing to the artifact with the application source code.
  results:
    - name: annotations
      type: array
      description: ANNOTATIONS array for buildah
    - name: labels
      type: array
      description: LABELS array for buildah
  steps:
    - name: use-trusted-artifact
      image: quay.io/konflux-ci/build-trusted-artifacts:latest@sha256:15d7dc86012e41b10d1eb37679ec03ee75c96436224fadd0938a49dc537aa4ad
      args:
        - use
        - $(params.SOURCE_ARTIFACT)=/tekton/home/source

    - name: set-results
      image: registry.access.redhat.com/ubi10/ubi-minimal:10.1-1769677092@sha256:f8c05e3c6d15fea32e59635477c0f690e6d4b88a81924e8619f369e57306b701
      env:
        - name: ANNOTATIONS_RESULT
          value: $(results.annotations.path)
        - name: LABELS_RESULT
          value: $(results.labels.path)
      workingDir: /tekton/home/source
      script: |
        #!/bin/bash
        set -euo pipefail

        version=$(cat VERSION)

        printf '["org.opencontainers.image.version=%s"]' "$version" > "$ANNOTATIONS_RESULT"
        printf '["org.opencontainers.image.version=%s"]' "$version" > "$LABELS_RESULT"
