name: Test

"on":
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

      - name: Create virtual environment
        run: |
          make .venv

      - name: Fetch submodule tags and list expected software versions
        run: |
          # Fetches tags efficiently as a side effect
          .venv/bin/devtool ls

      - name: Free up disk space (the container build needs it)
        run: |
          #!/bin/bash
          set -euo pipefail

          echo "Disk space before cleanup:"
          df -h /
          # Android consumes >12G disk space
          sudo rm -rf /usr/local/lib/android
          echo "Disk space after cleanup:"
          df -h /

      - name: Build runner image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
        with:
          tags: localhost/task-runner:latest
          containerfiles: ./Containerfile

      - name: Run tests
        env:
          TEST_IMAGE: localhost/task-runner:latest
        run: |
          .venv/bin/pytest --color=yes
